<div id="contactTop" class="justify-content-center text-center pb-5 text-light bg-dark">
  <h1 class="display-3">Contact Me!</h1>
  <div class="container border border-light col-11 col-md-6 shadow justify-content-start align-items-center">
    <form action="index.php" method="POST" enctype="text/plain">
      <div class="row mx-2 my-2">
        <label class="col-4 mr-1 mt-2 required" for="first_name">Name: </label>
        <input class="col-5" type="text" id="first_name" name="first_name" />
      </div>
      <div class="row mx-2 my-2 ">
        <label class="col-4 mr-1 mt-2 required" for="email_address">Email: </label>
        <input class="col-5" type="email" id="email_address" name="email_address" />
      </div>
      <div class="row mx-2 my-2">
        <label class="col-4 mr-1 mt-2 required" for="comments">Message: </label>
        <input class="col-5" type="text" id="comments" name="comments" />
      </div>
      <div class="row justify-content-center pb-3 mt-3">
        <input class="btn btn-lg btn-secondary" type="submit" value="Send" />
      </div>
    </form>
  </div>
</div>