<div id="contactTop" class="justify-content-center text-center pb-5 text-light bg-dark">
  <h1 class="display-3">Contact Me!</h1>
  <div class="container border border-light col-6 shadow justify-content-around">
    <form action="mailto:jaylin94@gmail.com" method="POST" enctype="text/plain">
      <div>
        <label class="mr-1 mt-2" for="name">Name: </label>
        <input type="text" id="name" name="name" />
      </div>
      <div>
        <label class="mr-1 mt-2" for="email">Email: </label>
        <input type="email" id="email" name="email" />
      </div>
      <div>
        <label class="mr-1 mt-2" for="textBody">Message: </label>
        <input type="textarea" id="textBody" name="textBody" />
      </div>

    </form>
  </div>
</div>
