<div id="header" class="mx-auto align-content-center justify-content-center">
  <h1 id="headerName" class="display-1">Jay Lin</h1>
  <h1 id="headerTitle">Software Developer</h1>
  <h3 id="headerAbout" class="d-none d-sm-inline">Dedicated to writing clean, efficient code.</h3>
  <h2 class="rounded" id="headerNote">I'm fluent in <span id="technologies">C/C++, JavaScript, HTML, CSS, Bootstrap, Node.js, Express, and MongoDB.</span></h2>
  <div class="row justify-content-center">
    <h2 id="headerLinks" class="mx-auto display-4 text-center justify-content-center">
      <a href="#projectTop" id="projectLink" class="d-none d-sm-inline text-dark rounded shadow col-xs-12 col-sm-4">Projects</a>
      <a href="#resumeTop" id="resumeLink" class="d-none d-sm-inline text-dark rounded shadow col-xs-12 col-sm-4">Resume</a>
      <a href="#contactTop" id="contactLink" class="d-none d-sm-inline text-dark rounded shadow col-xs-12 col-sm-4">Contact</a>
    </h2>
  </div>
</div>