<!-- Projects -->
<div class="projects pb-5 mb-1 shadow-lg bg-light justify-content-center align-items-center text-center rounded">
  <h1 id="projectTop" class="display-3 pt-2 pb-1">Projects</h1>

  <!-- Out of Thyme! bundle -->
  <div class="mt-5 row card-deck align-items-center text-center">
    <div class="col-lg-6 px-0">
      <img class="img-fluid" src="imgs/outOfThymeFull-min.png" />
      <a class="btn-primary btn-lg shadow col-xs-12 col-sm-6 rounded" href="https://github.com/jaylin94/osu-2019-hackathon-et-ml-kb-jl" target="_blank">Github</a>
      <a class="btn-secondary btn-lg shadow col-xs-12 col-sm-6 rounded" href="https://hackathon-2019-out-of-thyme.firebaseapp.com/" target="_blank">Live</a>
    </div>
    <div class="col-lg-6">
      <h3 class="pt-4 mb-0">Out of Thyme!</h3>
      <p class="projectDescription shadow py-3">OSU Summer 2019 Hackathon Winner (2nd Place).
        A cooking app that automatically displays recipes, sets timers,
        utilizes the Google Web-Speech API.</p>
    </div>
  </div>

  <!-- RGB Color Game Bundle -->
  <div class="flex-row-reverse row card-deck align-items-center text-center">
    <div class="col-lg-6 px-0">
      <img class="img-fluid" src="imgs/rgbColorGameFull-min.png" />
      <a class="btn-primary btn-lg shadow col-xs-12 col-sm-6 rounded" href="https://github.com/jaylin94/rgb-color-game" target="_blank">Github</a>
      <a class="btn-secondary btn-lg shadow  col-xs-12 col-sm-6 rounded" href="https://jaylin94-rgb-color-game.herokuapp.com/" target="_blank">Live</a>
    </div>
    <div class="col-lg-6">
      <h3 class="pt-4 mb-0">The RGB Color Game</h3>
      <p class="projectDescription shadow py-3">The RGB color game built with HTML, CSS,
        Bootstrap, JavaScript, EJS, Express, Node.js, and jQuery. Users
        guess the correct color block given by the RGB values in the header.
      </p>
    </div>
  </div>

  <!-- Portfolio bundle -->
  <div class="row card-deck align-items-center text-center">
    <div class="col-lg-6 px-0">
      <img class="img-fluid" src="imgs/portfolioFull-min.png" />
      <a class="btn-primary btn-lg shadow col-xs-12 col-sm-6 rounded" href="https://github.com/jaylin94/jay-lin-portfolio" target="_blank">Github</a>
      <a class="btn-secondary btn-lg shadow  col-xs-12 col-sm-6 rounded" href="https://jay-lin-portfolio.herokuapp.com/" target="_blank">Live</a>
    </div>
    <div class="col-lg-6">
      <h3 class="pt-4 mb-0">Portfolio</h3>
      <p class="projectDescription shadow py-3">My online web portfolio seen here, built with HTML,
        CSS, Bootstrap, JavaScript, EJS, Express, Node.js. A grid of my selected
        projects, resume, and contact form.
      </p>
    </div>
  </div>

  <!-- Air bundle -->
  <div class="flex-row-reverse row card-deck align-items-center text-center">
    <div class="col-lg-6 px-0">
      <img class="img-fluid" src="imgs/airFull-min.png" />
      <a class="btn-primary btn-lg shadow  col-xs-12 col-sm-6 rounded" href="https://github.com/jaylin94/air" target="_blank">Github</a>
      <a class="btn-secondary btn-lg shadow  col-xs-12 col-sm-6 rounded" href="https://Air.jaylin94.repl.run" target="_blank">Live</a>
    </div>
    <div class="col-lg-6">
      <h3 class="pt-4 mb-0">Air</h3>
      <p class="projectDescription shadow py-3">Air is a text-based console adventure game with a game board that contains interactive rooms,
        items, and special events.
        Air was built with C++11, and is available on gitHub.
      </p>
    </div>
  </div>

  <!-- Fantasy Tournament bundle -->
  <div class="row card-deck align-items-center text-center">
    <div class="col-lg-6 px-0">
      <img class="img-fluid" src="imgs/fantasyTournamentFull-min.png" />
      <a class="btn-primary btn-lg shadow  col-xs-12 col-sm-6 rounded" href="https://github.com/jaylin94/fantasy-tournament" target="_blank">Github</a>
      <a class="btn-secondary btn-lg shadow  col-xs-12 col-sm-6 rounded" href="http://Fantasy-Tournament.jaylin94.repl.run" target="_blank">Live</a>
    </div>
    <div class="col-lg-6">
      <h3 class="pt-4 mb-0">Fantasy Touranment</h3>
      <p class="projectDescription shadow py-3">Fantasy Tournament allows one user to pick two teams that will
        have a simulated fight.
        Fantasy Tournament was built with C++11 and is available on gitHub.
      </p>
    </div>
  </div>


  <!-- Zoo Tycoon bundle -->
  <div class="flex-row-reverse row card-deck align-items-center text-center">
    <div class="col-lg-6 px-0">
      <img class="img-fluid" src="imgs/zooTycoonFull-min.png" />
      <a class="btn-primary btn-lg shadow  col-xs-12 col-sm-6 rounded" href="https://github.com/jaylin94/zoo-tycoon" target="_blank">Github</a>
      <a class="btn-secondary btn-lg shadow  col-xs-12 col-sm-6 rounded" href="http://Zoo-Tycoon.jaylin94.repl.run" target="_blank">Live</a>
    </div>
    <div class="col-lg-6">
      <h3 class="pt-4 mb-0">Zoo Tycoon</h3>
      <p class="projectDescription shadow py-3">Zoo Tycoon is a business simulator where the user
        attempts to maximize profits by strategically purchasing animals. Random events
        occur throughout the game. Zoo Tycoon was built with C++11.
      </p>
    </div>
  </div>

</div>