<div id="resumeTop" class="shadow justify-content-center text-center">
  <h1 class="display-3"><u>Resume</u></h1>
  <iframe src="https://docs.google.com/gview?url=https://github.com/jaylin94/jay-lin-portfolio/raw/master/public/jay_lin_resume_2019(public).pdf&embedded=true" style="width: 60vw; height: 80vh;" class="d-none d-sm-inline" frameborder="0"></iframe>
  <div>
    <a id="resumeDownload" class="shadow btn btn-lg mt-3" href="https://github.com/jaylin94/jay-lin-portfolio/raw/master/public/jay_lin_resume_2019(public).pdf">Download Resume</a>
  </div>
</div>