<% include partials/header %>

<!-- Top of container -->
<div class="container-fluid px-0">

  <!-- Header, Introduction, Quick Links -->
  <% include partials/headerContent %>

  <!-- Project Section -->
  <% include partials/projects %>

  <!-- Resume section -->
  <%include partials/resume %>

  <!-- Contact Section -->
  <% include partials/contact %>

  <!-- Bottom of container   -->
</div>




<% include partials/footer %>