<% include partials/header %>

<!-- Top of container -->
<div class="container-fluid">

  <!-- Header, Introduction, Quick Links -->
  <div class="header justify-content-center" >
    <h1>Jay Lin</h1>
    <h1>Software Developer & Tech Enthusiast</h1>
    <h1>Always learning, always building</h1>
    <h2 class="row justify-content-center">
      <span class="col-xs-12 col-sm-4 col-sm-offset-3">Projects</span>
      <span class="col-xs-12 col-sm-4">Resume</span>
      <span class="col-xs-12 col-sm-4">Contact Me</span>
    </h2>
  </div>





<!-- Bottom of container   -->
</div>




<% include partials/footer %>
